*.py[cod]
__pycache__

logs/*
profs/*
*.sw?

docs/_*
docs/logs

staticfiles
htmlcov
.coverage
.env

react-spa/node_modules
react-spa/es5
react-spa/es6

config/tls_cert.pem
config/tls_key.pem
config/credentials.json
config/client_secret.json

