{% extends "base.html" %}
{% load i18n %}

{% block extrastyle %}{% endblock %}
{% block bodyclass %}menu{% endblock %}

{% block content %}
<div id="content-main">
<h1>Import Validator from file</h1>
<p>
<form action="/import/validator" method="post" enctype="multipart/form-data">
{% csrf_token %}
<h3>Upload file in .bxml format</h3>
{% if error_msg %}
<p style="color: red">{{ error_msg }}</p>
{% endif %}
<div style="margin-top: 20px; width: 200px;">
Validator name:
<input type="value" name="name" id="name"><p>
BXML file:
<input type="file" name="file_to_import" id="file_to_import" value="hej">
<div style="text-align: right;"><input type="submit" value="Upload" name="submit" id="submit_button"></div>
</div>
</form>

{% endblock %}
